<?xml version="1.0"?>
<launch>

	<arg name="speech_topic"	default="/kuka_control/lib_cmd" />
	<arg name="service_name"	default="kuka_cmd" />
	<arg name="action_server_name"  default="kuka_server" />

	<node name="pour_client_node" pkg="peg_hole_kuka" type="pour_client_node" required="true" output="screen">
  		<param name="speech_topic" 	 value="$(arg speech_topic)"/>
  		<param name="service_name" 	 value="$(arg service_name)"/>
  		<param name="action_server_name" value="$(arg action_server_name)"/>
  	</node>	
	


</launch>
