<?xml version="1.0" ?>
<launch>

	<!-- arg -->
	<arg name="world_frame" 	value="/world_frame"/>

	<!-- Load KUKA control settings (from Bremen) -->
	<include file="$(find kuka_lwr_bringup)/launch/lwr_simulation_viz.launch"/>

	<include file="$(find state_transformers)/launch/joint_to_cart_lasa_pour.launch"/>
	<include file="$(find state_transformers)/launch/cart_to_joint_lasa_sim_pour.launch"/>

	<!-- rviz -->
	<node name="rviz" pkg="rviz" type="rviz"  args="-d $(find pour_kuka)/launch/rviz/pour_kuka.rviz"  required="true" />

</launch>
