<?xml version="1.0" ?>
<launch>

<!--
  <arg name="default-starting-config"   default="1"/>
  <arg name="urdf-name"		  	default="kuka_lwr_lasa.urdf.xacro"/>
  <arg name="urdf-path" 	  	default="$(find kuka_lwr_description)/robots/$(arg urdf-name)"/>

  <param name="/use_sim_time" value="false"/>


  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg urdf-path)'" />
  
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="log" />

  <include file="$(find kuka_lwr_bringup)/launch/calibration/upload_frames4calibration.launch"/>
  <include file="$(find kuka_lwr_bringup)/launch/calibration/world_to_camera_tf_broadcaster_good.launch"/>

-->
  <!--    ROBOT -->


  <!--    STATE TRANSFORMERS -->

	<!--include file="$(find state_transformers)/launch/joint_to_cart_lasa_pour_tool.launch"/>
	<include file="$(find state_transformers)/launch/cart_to_joint_lasa_pour_tool.launch"/-->

   <include file="$(find state_transformers)/launch/joint_to_cart.launch">
  	 <arg name="ee_link" 	    	value="TOOL"/>
  	 <arg name="joint_to_cart_type" value="joint_to_cart_pour_tool"/>

   </include> 

   <include file="$(find state_transformers)/launch/cart_to_joint.launch">
  	<arg name="ee_link" 	  	value="TOOL"		         />
  	<arg name="use_boxy"      	value="false"			 />
    <arg name="cart_to_joint_type"     value="cart_to_joint_pour_tool"	 />
    <arg name="output_joints_topic"  value="/KUKA/joint_imp_cmd"	 />	
   </include>

	<!-- rviz -->
	<node name="rviz" pkg="rviz" type="rviz"  args="-d $(find pour_kuka)/launch/rviz/pour_kuka.rviz"  required="true" />

</launch>
